<div ng-include="'components/navbar/header.html'" class="app-header navbar"></div>
<div ng-include="'components/navbar/navbar.html'" class="app-aside hidden-xs {{app.settings.asideColor}}"></div>

<div class="app-content">
    <div ui-butterbar></div>
    <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
    <div class="app-content-body fade-in-up">

        <div class="col">
            <div class="bg-light lter b-b wrapper-md">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <h1 class="m-n font-thin h3 text-black">Anouncement: {{ anouncement.title }}</h1>
                  <small class="text-muted">{{ anouncement.teaser }}</small>
                </div>
                <div class="col-sm-6 col-xs-12">

                </div>
                <div class="col-sm-6 text-right hidden-xs">
                  <div class="btn-group">
                    <button ng-click="edit()" class="btn btn-sm btn-warning w-xs font-bold">Edit</button>
                  </div>
                </div>
              </div>

            </div>
            <div class="wrapper-md">
                
                <div class="panel">
                  <div class="wrapper-lg">
                    <h2 class="m-t-none">{{ anouncement.title }}</h2>
                    <div ng-bind-html="anouncement.text">
                      
                    </div>
                    <div class="line line-lg b-b b-light"></div>
                    <div class="text-muted">
                      <i class="fa fa-user text-muted"></i> by <a href="" class="m-r-sm">{{ anouncement.author}}</a>
                      <i class="fa fa-clock-o text-muted"></i> <span am-time-ago="anouncement.created_at"></span>
                      <a href="" class="m-l-sm"><i class="fa fa-comment-o text-muted"></i> 4 comments</a>
                      <i class="fa fa-tag text-muted" style="margin-left:10px"></i>
                      <a ng-repeat="tag in anouncement.tags" class="label bg-primary">{{ tag.tag }}</a>
                    </div>
                    
                      
                    
                  </div>
                </div>


            </div>
        </div>
    </div>
</div>

