<div ng-include="'components/navbar/navbar.html'"></div>
        
<div id="page-content-wrapper">

    <div class="row">
      <div class="col-md-6">
        <h3>Anouncements</h3>
      </div>  
    </div>

    <div class="row">
        <div class="col-md-12">

    	  	<div class="list-group" dir-paginate="anouncement in anouncements | itemsPerPage: 10">
			    <div class="list-group-item" >
			        <div class="row-action-primary">
			            <i  ng-class="hasRead(anouncement.read)" ng-click="detail(anouncement.slug)"></i>
			        </div>
			        <div class="row-content">
			            <div class="least-content"><span am-time-ago="anouncement.created_at"></span><p><button class="btn btn-danger btn-xs"><i class="fa fa-trash" ng-click="trash($index)"></i></button><button class="btn btn-info btn-xs" ng-click="edit($index)"><i class="fa fa-edit"></i></button></p></div>
			            <h4 class="list-group-item-heading" ng-click="detail(anouncement.slug)">{{ anouncement.title }}</h4>
			            <p class="list-group-item-text" ng-click="detail(anouncement.slug)">{{ anouncement.teaser }}</p>
			        </div>
			    </div>
			    <div class="list-group-separator"></div>
			</div>
          
            

        </div> 

        

    </div>
    <div class="row">
    	<div class="col-md-12">
    		<dir-pagination-controls boundary-links="true" template-url="../../bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    	</div>
    </div>

    

</div>

<div id="actionbutton-container" ng-hide="isLoggedIn()">
  <a href="/anouncements/new" class="btn btn-danger btn-fab btn-raised mdi-content-add"><div class="ripple-wrapper"></div></a>
</div>




